<div class="container">
  <div class="details">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="submit()">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="email" />
            <mat-error *ngIf="isSubmitted && formControl.email.errors">
              <mat-label>Invalid Email</mat-label></mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" type="password" />
            <mat-error *ngIf="isSubmitted && formControl.password.errors">
              <mat-label>Invalid Password</mat-label>
            </mat-error>
          </mat-form-field>

          <button mat-raised-button color="primary">Login</button>
        </form>

        <div class="register">
          <mat-label>New user?</mat-label>
          <a
            mat-button
            routerLink="/register"
            [queryParams]="{ returnUrl: returnUrl }"
            >Register here</a
          >
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
