.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 3rem;
  }
  
  .details {
    width: 25rem;
  }
  
  .material-form {
    display: flex;
    flex-direction: column;
  }
  
  .login {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  mat-error {
    color: red;
    font-size: 1.4rem;
  }
  mat-form-field {
    width: 100%;
  }
  mat-label {
    font-weight: bold;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }